:root {
--Soft-red: hsl(7, 99%, 70%)
--Yellow: hsl(51, 100%, 49%)
--Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
--Dark blue (photography text): hsl(198, 62%, 26%)
--Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

--Very dark desaturated blue: hsl(212, 27%, 19%)
--Very dark grayish blue: hsl(213, 9%, 39%)
--Dark grayish blue: hsl(232, 10%, 55%)
-- Grayish blue: hsl(210, 4%, 67%)
--White: hsl(0, 0%, 100%)
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1.5fr 1fr 1fr 1fr 1.5fr 0.75fr 0.75fr;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "aLeft aLeft egg egg"
    "glass glass aRight aRight"
    "cherry cherry orangeIMG orangeIMG"
    "client client client client"
    "milk clementine cone sugar"
    "bottom bottom bottom bottom";
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  background-color: #3ebfff;
}

#sunnyside {
  display: flex;
  justify-content: center;
  color: white;
  margin-left: 1em;
}

#creatives {
  display: flex;
  justify-content: center;
  color: white;
  margin-left: 1em;
  color: white;
  font-size: 4vw;
  letter-spacing: 0.2em;
}

ul {
  display: flex;
  margin-right: 5em;
  gap: 6em;
  margin-top: 2em;
}

ul li {
  list-style-type: none;
  color: white;
}
header {
  grid-area: header;
  background: url(./images/desktop/image-header.jpg);
  background-size: 100% 100%;
}

.articleLeft {
  grid-area: aLeft;
}
.eggDiv {
  grid-area: egg;
  background: url(./images/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.glassDiv {
  grid-area: glass;
  background: url(./images/desktop/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.articleRight {
  grid-area: aRight;
}

.cherry {
  grid-area: cherry;
  background: url(./images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.orange {
  grid-area: orangeIMG;
  background: url(./images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.client {
  grid-area: client;
}
/* .client {
  grid-area: client;
  display: flex;
  align-items: center;
}

.client img {
  border-radius: 50%;
  width: 6em;
} */

#milk {
  grid-area: milk;
  background: url(./images/desktop/image-gallery-milkbottles.jpg);
  background-size: 100% 100%;
}

#clementine {
  grid-area: clementine;
  background: url(./images/desktop/image-gallery-orange.jpg);
  background-size: 100% 100%;
}
#cone {
  grid-area: cone;
  background: url(./images/desktop/image-gallery-cone.jpg);
  background-size: 100% 100%;
}
#sugar {
  grid-area: sugar;
  background: url(./images/desktop/image-gallery-sugarcubes.jpg);
  background-size: 100% 100%;
}

footer {
  grid-area: bottom;
  background-color: green;
}
