.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 6%;
}

header {
  grid-column: 1/3;
  grid-row: 1/4;

  flex-wrap: wrap;

  background: url(./images/desktop/image-header.jpg);
  background-size: 100% 100%;

  position: relative;
}

.eggDiv {
  grid-column: 2/2;
  grid-row: 4/6;

  background: url(./images/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.articleLeft {
  grid-row: 4/6;
  grid-column: 1/2;
}

.glassDiv {
  grid-column: 1/2;
  grid-row: 6/8;
  background: url(./images/desktop/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.articleRight {
  grid-column: 2/2;
  grid-row: 6/8;
}

header img {
  display: flex;
  position: absolute;
  height: 14%;
  width: 2%;
  left: 50%;
  top: 45%;
}

nav {
  display: flex;
  justify-content: space-between;
}

#sunnyside {
  display: flex;
  justify-content: center;
  color: white;
  margin-left: 1em;
}

#creatives {
  display: flex;
  justify-content: center;
  color: white;
  margin-left: 1em;
  color: white;
  font-size: 4vw;
  letter-spacing: 0.2em;
}

ul {
  display: flex;
  margin-right: 5em;
  gap: 6em;
  margin-top: 2em;
}

ul li {
  list-style-type: none;
  color: white;
}

.second-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50%;
}

.cherry {
  background: url(./images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-row: 8/10;
  grid-column: 1/2;
}

.orange {
  background: url(./images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-row: 8/10;
  grid-column: 2/2;
}

.client {
  grid-row: 10/13;
  grid-column: 1/3;
  display: flex;
  align-items: center;
}

.client img {
  border-radius: 50%;
  width: 6em;
}

footer {
  grid-row: 13/15;
}

.bottom {
  background-color: green;
}
